{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Авторское право - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Авторское право</h4>
        <p>в научном журнале</p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Административная часть</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>ГК РФ Статья 1257. Автор произведения</strong>
                            <br>Перспективы и риски споров в суде общей юрисдикции. Ситуации, связанные со ст. 1257 ГК РФ
                            <br>Автором произведения науки, литературы или искусства признается гражданин, творческим трудом которого оно создано. Лицо, указанное в качестве автора на оригинале или экземпляре произведения либо иным образом в соответствии с пунктом 1 статьи 1300 настоящего Кодекса, считается его автором, если не доказано иное.
                            <br>(в ред. Федерального закона от 12.03.2014 N 35-ФЗ)</li>
                        <li><strong>ГК РФ Статья 1300. Информация об авторском праве</strong>
                            <br>Ситуации, связанные со ст. 1300 п.1 ГК РФ
                            <br>Информацией об авторском праве признается любая информация, которая идентифицирует произведение, автора или иного правообладателя, либо информация об условиях использования произведения, которая содержится на оригинале или экземпляре произведения, приложена к нему или появляется в связи с сообщением в эфир или по кабелю либо доведением такого произведения до всеобщего сведения, а также любые цифры и коды, в которых содержится такая информация.</li>
                        <li><strong>ГК РФ Глава 70. Авторское право</strong>
                            <br>"Гражданский кодекс Российской Федерации (часть четвертая)" от 18.12.2006 N 230-ФЗ (ред. от 11.06.2021) (с изм. и доп., вступ. в силу с 01.01.2022)</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Права автора</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Исключительное право на произведение</li>
                        <li>Право авторства</li>
                        <li>Право автора на имя</li>
                        <li>Право на неприкосновенность своего произведения</li>
                        <li>Право на обнародование своего произведения</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Правила</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>1. Неисключительные права на использование материалов журнала Известия высших учебных заведений "Геодезия и аэрофотосъемка" принадлежат ФГБОУ ВО "Московскому государственному университету геодезии и картографии" (МИИГАиК) как учредителю и издателю.</li>
                        <li>2. Авторский договор заключается на этапе проверки гранки статьи, бланк договора высылается Редакцией.</li>
                        <li>3. Полное и/или частичное заимствование материалов возможно только со ссылкой на выходные данные журнала и при обязательном указании правообладателя и имен авторов статей. При создании нового материала на основе уже опубликованных в журнале "Геодезия и аэрофотосъемка" статей или при переводе фрагментов статей с целью их цитирования необходимо ссылаться на первоисточники с соблюдением правил цитирования и указанием их в библиографии.</li>
                        <li>4. Редакция журнала Известия вузов «Геодезия и аэрофотосъемка» обязуется соблюдать авторские права авторов научных трудов, принятых к публикации в журнал, а также предпринимает адекватные и достаточные меры, направленные на соблюдение законодательства об авторском праве и на защиту авторских прав лиц, материалов которых публикуются в журнале.</li>
                        <li>5. Предоставляя свою статью к публикации, автор обязуется соблюдать законодательство об авторском праве, с уважением относиться к правам третьих лиц, и гарантирует, что материал оригинален и публикация статьи в журнале не приведет к нарушению прав, включая авторских прав.</li>
                        <li>6. Редакция вправе проверить оригинальность произведения на наличие заимствований посредством системы <strong>Антиплагиат.ВУЗ</strong>, уведомив о результатах проверки автора произведения. Оригинальность рукописи должна составлять не менее 80%. Фрагменты заимствованного текста без указания первоисточника недопустимы.</li>
                        <li>7. Автор может передавать права на публикацию своей статьи издателю журнала только на основании Авторского договора издания. На основании Авторского договора издатель публикует все статьи на сайте в Открытом Доступе.</li>
                        <li>8. В отношении заимствований редакция действует в соответствии с рекомендациями <a href="https://publicationethics.org/" target="_blank">COPE</a> (COPE – Committee on Publication Ethics):</li>
                        <li><a href="https://publicationethics.org/files/plagiarism-submitted-manuscript-cope-flowchart.pdf" target="_blank">Выявленный случай плагиата до публикации →</a>
                            <br><a href="https://publicationethics.org/files/plagiarism-published-article-cope-flowchart.pdf" target="_blank">Выявленный случай плагиата после публикации →</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}