{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Редакция - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Редакция</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="text-section">
    <div class="section-content">
        <p>
            Редакция журнала «Известия вузов. Геодезия и аэрофотосъемка» отвечает за организационные, технические и издательские аспекты выпуска. Она взаимодействует с авторами, рецензентами и членами редакционной коллегии, обеспечивая оперативную и качественную публикацию научных материалов.
        </p>
        <p>
            Редакция также занимается версткой, оформлением, индексацией статей, архивацией и технической поддержкой веб-сайта журнала.
        </p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Главный редактор</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>САВИНЫХ Виктор Петрович</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>ЗАМЕСТИТЕЛЬ ГЛАВНОГО РЕДАКТОРА</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>БРАТКОВ Виталий Викторович</li>
                    </ul>
                </div>
            </div>

            <!-- Пример: Редакторы -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Научные редакторы</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Фамилия И.О.</li>
                        <li>Фамилия И.О.</li>
                    </ul>
                </div>
            </div>

            <!-- Пример: Технические редакторы / верстка -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Технический редактор / верстка</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Фамилия И.О.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Адрес редакции</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Адрес: 105064, Россия, Москва, Гороховский пер., 4</li>
                        <li>Телефон: +7 (499) 261-82-86</li>
                        <li>Email: <a href="mailto:gia@miigaik.ru">gia@miigaik.ru</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
