{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Редакционная коллегия - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Редакционная коллегия</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="text-section">
    <div class="section-content">
        <p>
            Редакционная коллегия журнала «Известия вузов. Геодезия и аэрофотосъемка» обеспечивает высокий научный уровень и репутацию издания. В состав коллегии входят ведущие ученые России и зарубежья, специалисты в области геодезии, картографии, фотограмметрии, дистанционного зондирования, геоинформатики и оптико-электронных приборов.
        </p>
        <p>
            Члены редакционной коллегии отвечают за рецензирование поступающих статей, формирование тематики выпусков, а также за поддержание этических стандартов и качества публикуемых материалов.
        </p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Главный редактор</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>САВИНЫХ Виктор Петрович — Академик РАН, профессор, д-р техн. наук, президент МИИГАиК</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Заместители главного редактора</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>БРАТКОВ Виталий Викторович — доцент, д-р геогр. наук, заведующий кафедрой географии, МИИГАиК</li>
                    </ul>
                </div>
            </div>

            <!-- Пример: Члены редколлегии -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Члены редакционной коллегии</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>БЕЛОЦЕРКОВСКИЙ Андрей Владленович — профессор, д-р физ.-мат. наук, проректор ФГБОУ ВО «Московский государственный университет геодезии и картографии»</li>
                        <li>БОНДУР Валерий Григорьевич — вице-президент РАН, профессор, д-р техн. наук, научный руководитель ФГБНУ "Научно-исследовательский институт аэрокосмического мониторинга "АЭРОКОСМОС" Министерства науки и высшего образования Российской Федерации и Российской академии наук (НИИ «АЭРОКОСМОС»).</li>
                        <li>ВЕРЕЩАКА Тамара Васильевна  — профессор, д-р техн. наук, заведующая кафедрой картографии, МИИГАиК</li>
                        
                        <li>ДЕНИСЕНКО Олег Валентинович — д-р техн. наук, зам. генерального директора ФГУП Всероссийский научно-исследовательский институт физико-технических и радиотехнических измерений «ВНИИФТРИ»</li>
                        <li>ЖУРКИН Игорь Георгиевич — профессор, д-р техн. наук, заведующий кафедрой геоинформационных систем и технологий, МИИГАиК</li>
                        
                        <li>МАЛИННИКОВ Василий Александрович — профессор, д-р техн. наук, заведующий кафедрой космического мониторинга и экологии, МИИГАиК</li>
                        <li>МАЗУРОВА Елена Михайловна — д-р техн. наук, заместитель директора ФГБУ «Центр геодезии, картографии и ИПД»</li>
                        <li>НЕЙМАН Юрий Михайлович — профессор, д-р техн. наук, заведующий кафедрой высшей математики, МИИГАиК</li>
                        <li>НЕПОКЛОНОВ Виктор Борисович — профессор, д-р техн. наук, научный руководитель Университета, МИИГАиК</li>
                        <li>НЕХИН Сергей Степанович — д-р техн. наук, начальник управления ФГБУ «Центр геодезии, картографии и ИПД»</li>
                        <li>ПИМШИН Юрий Иванович — профессор, д-р техн. наук, кафедра «Строительные производства» Волгодонский инженерно-технический институт – филиал «Национального исследовательского ядерного университета «МИФИ»</li>
                        
                        <li>СИЗОВ Александр Павлович — профессор, д-р техн. наук, кафедра землеустройства и кадастров, факультет управления территориями, МИИГАиК</li>
                        <li>УСТАВИЧ Георгий Афанасьевич — профессор, д-р техн. наук, кафедра инженерной геодезии и маркшейдерского дела, Сибирский государственный университет геосистем и технологий (СГУГиТ)</li>  
                        <li>ЧИБУНИЧЕВ Александр Георгиевич — профессор, д-р техн. наук, заведующий кафедрой фотограмметрии, геодезический факультет, МИИГАиК</li>
                        <li>ЯШКИН Станислав Николаевич — профессор, д-р техн. наук, кафедра астрономии и космической геодезии, геодезический факультет, МИИГАиК</li>
                        
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Зарубежные члены редакционной коллегии</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>ГОСПОДИНОВ Славейко — профессор, доктор геодезии, Университет архитектуры, строительства и геодезии (София, Болгария)</li>
                        <li>ГВИШИАНИ Алексей Джерменович  — Академик РАН, профессор, д-р физико-матем. наук, Директор МГУ, Геофизический центр РАН, Парижский институт физики Земли</li>
                        <li>КРЕСС Вольфганг — профессор, д-р техн. наук, декан факультета «Ландшафтные науки и геоматика», Нойбранденбургский университет прикладных наук</li>
                        <li>РАЙЗМАН Юрий Григорьевич — канд. техн. наук, Генеральный директор GeoCloud, главный научный сотрудник Phase One Industrial (Израиль)</li>
                        <li>ХОЛОТА Петр — д-р техн. наук, Исследовательский институт геодезии, топографии и картографии, Чешская Республика</li>
                        <li>ВИЛЛА-ОРТЕГА Хосе Хоакин — канд. техн. наук, профессор, Университет Киндио, Инженерная школа, Колумбия</li>
                        <li>ШУХ Гаральд — профессор, д-р техн. наук, директор Департамента «Геодезия и дистанционное зондирование» в Центре Гельмгольца Потсдам, Немецкий исследовательский центр геонаук, Германия</li>
                        <li>ОБЕРСТ Юрген — профессор, д-р техн. наук, уководитель отдела Планетной геодезии, научный сотрудник, Технический университет Берлина, Институт планетных сследований немецкого аэрокосмического центра, Германия</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
