{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Публикационная этика - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Публикационная этика</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>1. Общие положения</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>1.1.</strong> Журнал Известия вузов «Геодезия и аэрофотосъемка» в лице Главного редактора, редколлегии и редсовета, редакции и рецензентов строго следует принципам публикационной этики, отраженных в Кодексе этики научных публикаций (<a href="https://publicationethics.org/" target="_blank">COPE</a> – Committee on Publication Ethics).</li>
                        <li><strong>1.2.</strong> Редакция журнала внимательно следит за публикационной деятельностью по части плагиата и самоплагиата, предоставление недостоверных сведений и т.д. во избежание недобросовестной практики в своей работе; проводит тщательный отбор и редактирование поступающего материала, чтобы обеспечить публикацию научных трудов высокого качества, признание научных результатов общественностью.</li>
                        <li><strong>1.3.</strong> Соблюдение этических норм и стандартов требуется не только от членов Редакционной коллегии, рецензентов, издателей, но и от самого автора.</li>
                        <li><strong>1.4.</strong> Редакция оставляет за собой право отклонить публикацию научного материала в случае нарушения правил этики, обязуется уведомить об этом автора письменно или в электронном виде с обоснованием отказа в принятии материала.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>2. Принципы профессиональной этики для редактора / издателя</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>В своей деятельности редактор несет ответственность за обнародование авторских произведений, что накладывает необходимость следования следующим основополагающим принципам.</li>
                        <li><strong>Редактор / издатель:</strong></li>
                        <li><strong>2.1.</strong> должен руководствоваться достоверностью представленных данных автора / авторов и научной значимости и оригинальности рассматриваемой работы;</li>
                        <li><strong>2.2.</strong> должен оценивать интеллектуальное содержание рукописей вне зависимости от расы, пола, религиозных взглядов, происхождения, гражданства, социального положения или политических предпочтений авторов;</li>
                        <li><strong>2.3.</strong> не должен использовать далее неопубликованные данные, полученные из представленных к рассмотрению рукописей в личных целях или передаваться третьим лицам без письменного согласия автора / авторов;</li>
                        <li><strong>2.4.</strong> должен сохранять конфиденциальность информации или идей, полученных в ходе редактирования и не использовать это с целью получения личной выгоды;</li>
                        <li><strong>2.5.</strong> не должен допускать к публикации информацию, если имеется достаточно оснований полагать, что она является плагиатом;</li>
                        <li><strong>2.6.</strong> не должен оставлять без ответа претензии, касающиеся рассмотренных рукописей или опубликованных материалов, а также при выявлении конфликтов интересов принимать все необходимые меры для восстановления нарушенных прав.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>3. Принципы профессиональной этики для рецензента</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Рецензент:</strong></li>
                        <li><strong>3.1.</strong> должен рассматривать полученную для рецензирования рукопись как конфиденциальный документ, который нельзя передавать для ознакомления или обсуждения третьим лицам, не имеющим на то полномочий от редакции;</li>
                        <li><strong>3.2.</strong> должен давать объективную и аргументированную оценку изложенным результатам исследования. Персональная критика в адрес автора неприемлема;</li>
                        <li><strong>3.3.</strong> не должен использовать неопубликованные материалы, полученные из представленных к рассмотрению рукописей, для личных целей;</li>
                        <li><strong>3.4.</strong> должен сообщить редактору о факте отсутствия у него квалификации для проведения рецензирования, о конфликте интересов с автором или организацией с просьбой исключить его из процесса рецензирования данной рукописи.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>4. Принципы профессиональной этики для автора</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Автор:</strong></li>
                        <li><strong>4.1.</strong> должен предоставлять достоверные результаты проведенных исследований. Заведомо ошибочные или сфальсифицированные утверждения неприемлемы;</li>
                        <li><strong>4.2.</strong> должен гарантировать, что результаты исследования, изложенные в предоставленной рукописи, полностью оригинальны. Заимствованные фрагменты или утверждения должны быть оформлены с обязательным указанием автора и первоисточника. Чрезмерные заимствования, а также плагиат в любых формах, включая неоформленные цитаты, перефразирование или присвоение прав на результаты чужих исследований неприемлемы;</li>
                        <li><strong>4.3.</strong> должен признавать вклад всех лиц, так или иначе повлиявших на ход исследования, в частности в статье должны быть представлены ссылки на работы, которые имели значение при проведении исследования;</li>
                        <li><strong>4.4.</strong> не должен предоставлять в журнал рукопись, которая была отправлена в другой журнал и находится на рассмотрении, а также статью, уже опубликованную в другом журнале;</li>
                        <li><strong>4.5.</strong> должен указывать в статье все лица, внесшие существенный вклад в проведение исследования. Среди соавторов недопустимо указывать лиц, не участвовавших в исследовании;</li>
                        <li><strong>4.6.</strong> должен незамедлительно уведомить редакцию журнала о том, что были обнаружены существенные ошибки или неточности в статье на этапе ее рассмотрения или после ее опубликования.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>5. При нарушении публикационной этики</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Нарушения публикационной этики, за которые Редакция журнала предусматривает наказание:</strong></li>
                        <li><strong>5.1.</strong> Заимствования в особо крупных объемах при отсутствии ссылки на авторство в разделе статьи "Библиография".
                            <br>В таком случае статья не доходит до публикации вовсе и поэтому не требуется прибегать к сложному процессу как ретракция статьи. Однако смелость автора, подавшего материал с подобным нарушением, с запретом на публикацию в журнале Известия вузов "Геодезия и аэрофотосъемка" сроком на 4 года.</li>
                        <li><strong>5.2.</strong> Дача ложной информации при регистрации статьи в том, что она не продублирована в другую редакцию:
                            <br>- при факте публикации такой статьи это ведет к неминуемой ретракции,
                            <br>- при обнаружении нарушения до публикации - наказание автору в виде запрета на публикацию в журнале сроком на 2 года.</li>
                        <li><strong>5.3.</strong> Некорректное общение с представителями Редакции и осознанное разжигание конфликта расцениваются как давление в сторону ответственного и при исполнении работника Редакции, что ведет в причислению автора в черный список публикантов.</li>
                        <li><strong>5.4.</strong> Безответственность, влияющая на результаты рецензирования, публикацию материала или саму работу (исследование), ведет к запрету на публикацию в журнале на 1 год.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Ретракция статей</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Ретракция статей или отзыв статей по обосновано важным причинам - это легальная практика в издательском мире.</li>
                        <li>Статьи, нарушающие общепринятые правила изданий, нормы и международные конвенции, содержащие недостоверную информацию, высокий процент плагиата, в том числе переводного плагиата, имеющие множественные публикации как частями, так и полностью, будут отозваны из журнала.</li>
                        <li>При нарушении публикационной этики редакционная коллегия выносит решение, утвержденное протоколом заседания, о ретрагировании статьи. Информация о данном факте в обязательном порядке будет размещена в архиве журнала, передана в <a href="https://rassep.ru/etich-komitet/" target="_blank">Совет по этике</a> (АНРИ) и размещена в <a href="https://rassep.ru/retracted/" target="_blank">базе ретрагированных статей</a>. Также факт отзыва данной работы будет зафиксирован во всех библиотеках, базах данных, где размещен и индексируется журнал (при этом официально вносится отметка о дате, причинах ретракции).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}