{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Плата за публикацию - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Плата за публикацию статьи</h4>
        <p>
            в научном журнале
        </p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block grid-pp">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Политика журнала</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>1.</strong> Публикация статей осуществляется на безвозмездной основе.</li>
                        <li><strong>2.</strong> Редакция не взимает плату в денежном эквиваленте за редакционную обработку и подготовку публикуемых материалов в виде рецензий, литературного редактирования, перевода и верстки.</li>
                        <li><strong>3.</strong> Публикация статей и других материалов в журнале не подразумевает никаких финансовых отчислений (гонораров) авторам опубликованных статей и материалов.</li>
                        <li><strong>4.</strong> Рецензирование носит добровольный характер со стороны эксперта и также не покрывается гонораром со стороны Редакции.</li>
                        <li><strong>5.</strong> В журнале не предусмотрено платное распространение электронной русской и английской версий, журнал осуществляет свою деятельность согласно Будапештской конвенции Открытого Доступа.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}