{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Цели и задачи - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Цели и задачи</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="subname-section">
    <div class="section-content">
        <h5>Цели</h5>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Развитие</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>содействовать всемирному развитию инновационных, фундаментальных и прикладных исследований в области таких технических наук, как геодезия, картография, космическая съемка, фотограмметрия, дистанционное зондирование Земли, геоинформатика, оптика, оптическое приборостроение, фотоника.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Рост</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>способствовать повышению эффективности научных исследований.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Популяризация</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>массово освещать и продвигать результаты научно-исследовательской, научно-практической и экспериментальной деятельности ученых.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Стратегирование</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>принимать активное участие в реализации стратегии на государственном уровне и стратегии университета МИИГАиК.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Глобализация</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>соответствовать мировым тенденциям в развитии науки и высшего образования.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subname-section">
    <div class="section-content">
        <h5>Задачи</h5>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Профессиональный научный контент</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>публикация статей, содержащих актуальные результаты научно-исследовательской, научно-практической и инновационной деятельности профессорско-преподавательского состава и научных работников вузов и научных организаций России и мира согласно профилю журнала.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Компетентная экспертиза</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>публикация рецензий (согласованных со всеми сторонами) для поддержания научного интереса к освещаемому вопросу, формирование тем самым открытой публикационной дискуссии для повышения качества и эффективности научных исследований.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>География авторского контингента</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>публикация статей авторов и различных исследовательских групп и коллективов Российских и зарубежных вузов, научных школ, предприятий для широкого научного сообщества.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}