{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Руководство для авторов - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}


{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Руководство для авторов</h4>
        <p>
            правила научного журнала 
        </p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">

            <!-- Правила этики -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Правила этики</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>
                            Авторы статьи четко соблюдают Правила этики и придерживаются Политики журнала. <br>
                            Один и тот же автор может публиковаться в журнале с интервалом в 2 выпуска журнала минимум. <br>
                            Данная статья ранее не была опубликована в любом другом журнале и на любом другом языке. <br>
                            На данный момент статья не представлена на рассмотрение и публикацию в другой журнал. <br>
                            Оригинальность статьи не менее 85 %, полностью исключается переводной плагиат. <br>
                            Статья не содержит неправомерных заимствований и подавляющей доли самоцитирования (10 % от общего числа источников библиографии).
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Тематика и тип статьи -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Тематика и тип статьи</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>
                            Статья должна соответствовать тематическим рубрикам журнала Известия вузов «Геодезия и аэрофотосъемка». <br>
                            Научная статья, представленная в редакцию, носит теоретический, экспериментальный или прикладной характер.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Критерии статьи -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Критерии статьи</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>
                            Статья отвечает следующим критериям: информативность (не поверхностно, без общих фраз), содержательность (цели, задачи, методы, результаты), последовательность изложения, новизна, оригинальность, обоснованность. <br>
                            В статье проанализированы актуальные исследования по данному направлению, изложенные в индексируемых отечественных и международных базах данных научного цитирования: РИНЦ, ядро РИНЦ, Scopus и Web of Science.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Документация -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Документация</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>
                            Если заявленная статья представлена в журнал для соискания ученой степени кандидата / доктора наук или авторы аффилированы КБ, НИИ или иной производственной / проектной организацией, то материал нужно дополнить сопроводительными документами – экспертным заключением от аффилированной организации для возможности публикации в открытом доступе. <br>
                            Авторский договор заключается после принятия положительного решения о публикации статьи (форму предоставляет Редакция). <br>
                            Экспертные заключения на статью высылаются на официальном бланке Редакции журнала без упоминания рецензентов. <br>
                            По решению об опубликовании статьи Редакция журнала высылает авторам свидетельство о факте допуска научного материала в определенный том и выпуск издания.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Оформление статьи -->
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Оформление статьи</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>
                            Статья оформлена согласно требованиям журнала по <a href="https://miigaik.ru/journal/gia/Template_GiA_.docx ">Шаблону</a> с соблюдением табличной системы ввода данных и текста статьи. <br>
                            Статья по содержанию составлена по заявленной <b>структуре</b> и форматирована (шрифт, кегль) по Шаблону. <br>
                            Файл статьи представляется в формате документа MS Office Microsoft Word, в формате *.doc или *.docx . <br>
                            Авторы оформляют графику и формулы по <a href="https://miigaik.ru/journal/Graphics.pdf">Инструкции</a>. <br>
                            Список литературы должен быть оформлен по Правилам издания: Библиография на русском языке по <a href="http://www.bgsha.com/download/sciences/doc/gost_7.0.5-2008.pdf">ГОСТ Р 7.0.5-2008</a>, References на английском языке в стиле <a href="https://drive.google.com/file/d/1MRP_TjnKDrpfAuZZOOEe_cuXuKnn7i1v/view?usp=sharing">Vancouver</a>, стиль транслитерации BSI (British Institution Standards), которым можно воспользоваться на сайте <a href="http://translit.ru/">translit.ru</a>.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}