{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="info-section" id="info-section">
    <div class="section-content" id="topic-section">
        <a href="">
            <p>
                Геодезия
            </p>
        </a>
        <a href="">
            <p>
                Аэрокосмические исследования Земли, фотограмметрия
            </p>
        </a>
        <a href="">
            <p>
                Геоинформатика, картография
            </p>
        </a>
        <a href="">
            <p>
                Землеустройство, кадастр и мониторинг земель
            </p>
        </a>
        <a href="" class="last-link-info">
            <p>
                Оптические и оптико-электронные приборы и комплексы
            </p>
        </a>
    </div>
</section>

<section class="book-info-section">
    <div class="section-content">
        <div class="book-info">
            <h1>Известия вузов. Геодезия и аэрофотосъемка</h1>
            <div class="about-text">
                <p>
                    С учетом своей более полувековой истории и опыта, журнал динамично развивается и активно использует новые возможности наукометрического и библиографического характера. <br>
                    Так, в Журнале предусмотрена политика "быстрой публикации" с применением технологий НЭБ eLIBRARY - Online First. Все статьи сначала входят в публикационную нишу журнала Online First, получают свой идентификатор DOI и индексирование, а позже переносится в выпуск этого же года. <br>
                    Оптимизация публикационной деятельности приветствуется у 90% авторов в силу рабочей необходимости, и "Геодезия и аэрофотосъемка" достойно отвечает на такой запрос научного сообщества.
                </p>
                <a href="" class="more-journal">Подробнее о журнале </a>
            </div>
            <a href="">Подать статью </a>
        </div>
        <div class="book-img">
            <img src="{% static 'img/gia.png' %}" alt="">
            <p>
                Издается в МИИГАиК, входит в перечень журналов ВАК Минобрнауки РФ
            </p>
            <p>
                ISSN 0536-101X (pr)
            </p>
            <p>
                ISSN 2618-7299 (onl)
            </p>
        </div>
    </div>
</section>

<section class="about-red-section">
    <div class="section-content">
        <div class="appeal-block">
            <div class="appeal-text">
                <h2>Обращение главного редактора</h2>
                <div class="appeal-text-but">
                    <p>
                        Уважаемые коллеги! <br>
                        Мы рады приветствовать Вас на сайте уникального в своей отрасли научного журнала "Известия вузов "Геодезия и аэрофотосъемка".
                    </p>
                    <!-- Используем details/summary -->
                    <details>
                        <summary>Читать обращение полностью</summary>
                        <p>
                            Наш журнал с гордостью отмечает свою богатую историю, уходящую корнями в середину прошлого века. За это время он стал неотъемлемой частью научного пространства, объединяя исследователей, стремящихся к познанию и освоению окружающего мира через призму геодезии, картографии, дистанционного зондирования и смежных наук.
                        </p>
                        <p>
                            Мы стремимся поддерживать высочайшие стандарты научной честности и качества публикуемых материалов. Рецензирование, редакционная строгость и открытость к инновациям – вот ключевые принципы, на которых строится наша работа.
                        </p>
                        <p>
                            Журнал "Геодезия и аэрофотосъемка" – это площадка для обмена знаниями, дискуссий и открытий. Мы приглашаем вас к сотрудничеству, к публикации ваших исследований и к участию в развитии науки.
                        </p>
                        <p>
                            С уважением,<br>
                            <em>Савиных Виктор Петрович</em><br>
                            Президент университета, дважды Герой Советского Союза, академик РАН, доктор технических наук, профессор
                        </p>
                    </details>
                </div>
                <h3>Президент университета, дважды Герой Советского Союза, академик РАН, доктор технических наук, профессор <br>
                    Савиных Виктор Петрович</h3>
            </div>
            <div class="appeal-img">
                <img src="{% static 'img/1.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="reviewer-archive-section">
    <div class="section-content">
        <div class="review-block">
            <div class="review-name">
                <h2>Стать рецензентом</h2>
            </div>
            <p>
                Приглашаем квалифицированных экспертов заявленных научных областей в коллектив рецензентов научного журнала.
            </p>
            <a href="">Заполнить заявку </a>
        </div>
        <div class="archive-section">
            <div class="arch-name">
                <h2>Архив журнала</h2>
            </div>
            <p>
                На 2025 год историческая глубина архива - 68 лет. <br>
                Редакция журнала бережно хранит ценность издательского дела МИИГАиК - журнал Известия высших учебных заведений - раздел "Геодезия и аэрофотосъемка". <br>
                Архив одинаково значим как источник цитирования актуальной и передовой информации научного сообщества, а также значим своими персоналиями и достижениями в контексте науки своего времени.
            </p>
            <a href="">Посмотреть архив </a>
        </div>
    </div>
</section>

<section class="form-section">
    <div class="section-content">
        <div class="partnership-form">
            <h2>Партнерство</h2>
            <form action="" class="form-partnership">
                <div class="name-input">
                    <input type="text" id="Name-input" placeholder="Ваше имя"> <label for="Name-input">Имя</label>
                </div>
                <div class="tel-input">
                    <input type="text" id="tel-input" placeholder="+7-(999)-999-99-99"> <label for="tel-input">Телефон</label>
                </div>
                <div class="email-input">
                    <input type="text" id="email-input" placeholder="ivan_ivanov@miigaik.ru"> <label for="emai-input">Email</label>
                </div>
                <div class="message-input">
                    <input type="text" id="message-input" placeholder="Текст сообщения"> <label for="message-input">Сообщение</label>
                </div>
                <button>Отправить</button>
            </form>
        </div>
        <div class="partnership-img">
            <img src="{% static 'img/gia_main.png' %}" alt="">
        </div>
    </div>
</section>


{% endblock %}
