{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Сведения о журнале - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Сведения о журнале</h4>
        <p>DOI: 10.30533/0536-101X</p>
    </div>
</section>

<section class="text-section">
    <div class="section-content">
        <p>Научный рецензируемый журнал международного уровня, отражающий актуальную проблематику
            и исследовательские результаты в номенклатуре определенных научных специальностей ВАК РФ.</p>
        <br>
        <p>Издается ФГБОУ ВО "Московским государственным университетом геодезии и картографии" (МИИГАиК)
            с 1957 года и хранит исторические документы (статьи) каждого выпуска в архиве редакции.</p>
        <br>
        <p>Полные тексты статей выпусков с №1 по №6 в электронной версии предоставляются как на веб-портале журнала,
            так и на сайте Научной электронной библиотеки eLIBRARY в Открытом Доступе.</p>
        <br>
        <p>С 2021 года издает русскую и английскую полнотекстовые версии.</p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Полное название</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Известия высших учебных заведений "Геодезия и аэрофотосъемка"</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Сокращенное название</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Известия вузов "Геодезия и аэрофотосъемка"</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Международное название</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Izvestia vuzov. Geodesy and Aerophotosurveying</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Специализация</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Аэрокосмические исследования Земли, геодезия, геоинформатика, землеустройство, кадастр, картография, мониторинг земель, фотограмметрия, оптические и оптико-электронные приборы и комплексы</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Периодичность</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>6 выпусков в год</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Языки</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>русский, английский (полнотекстовые версии)</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Учредитель, издатель</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>ФГБОУ ВО «Московский государственный университет геодезии и картографии» (МИИГАиК)</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Страна, город</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Россия, Москва</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Год основания</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>1957 год</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>ISSN (печатная версия)<br>ISSN (онлайн версия)</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>ISSN 0536-101X</li>
                        <li>ISSN 2618-7299</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Подписка</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>подписной индекс в Каталоге − 70365 
                            Министерство цифрового развития, связи и массовых коммуникаций РФ</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Индексирование</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>включен в перечень рецензируемых научных изданий ВАК (Приказ Минобрнауки РФ от 01.12.2015 №13-6518)</li>
                        <li>Российский индекс научного цитирования (ядро РИНЦ)</li>
                        <li>RSCI (Russian Science Citation Index) Web of Science</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}