{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Рецензирование - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Порядок рецензирования статей</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Этапы</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Журнал «Геодезия и аэрофотосъемка» является рецензируемым журналом, и все поступающие в редакцию статьи проходят этапы рассмотрения</li>
                        <li><strong>1. Редакционное рецензирование</strong>
                            <br>экспертиза редактора на предмет соответствия входящего материала заявленным требованиям к нему. В случае, если есть замечания, редактор возвращает на доработку статью со сроком повторной подачи после исправлений.
                        </li>
                        <li><strong>2. Рассмотрение редакционной коллегией</strong>
                            <br>Редколлегия и Редсовет детально рассматривают статьи, прошедшие Этап 1, с точки зрения актуальности исследования и четкости изложения материала, а также актуальности такого материала для журнала.</li>
                        <li><strong>3. Экспертное рецензирование</strong>
                            <br>В журнале установлено <strong>двойное слепое рецензирование</strong> ведущими экспертами по тематике исследований.
                            <br>Все рецензенты - признанные специалисты в каждой представленной в журнале области и имеют в течение последних 4 лет публикации по тематике рецензируемой статьи.
                            <br>Особенность журнала в том, что он выпускается одновременно с идентичным материалом на русском и английском языках, поэтому в редакцию поступают как русскоязычные статьи, так и иностранные англоязычные. Соответственно им назначаются рецензенты, владеющие тем или другим языком.</li>
                        <li>Рецензии оформляются на специальном бланке редакции.</li>
                        <li>Варианты решений о публикации:</li>
                        <ul style="list-style-type: disc;">
                            <li>Статья рекомендуется к публикации без доработки</li>
                            <li>Статья рекомендуется к публикации при условии доработки (без повторного рецензирования)</li>
                            <li>Статья рекомендуется к публикации при условии доработки и повторного рецензирования</li>
                            <li>Статья не рекомендуется к публикации</li>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Порядок рецензирования</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Первичное рецензирование</strong> осуществляется двумя разными экспертами (срок 30 рабочих дней).
                            <br>По результатам рецензирования анонимное заключение отправляется автору на правки, если таковые требуются. При наличии одной положительной и одной отрицательной рецензии, редактор направляет статью третьему эксперту либо редколлегия принимает решение самостоятельно в пользу публикации или с ее отклонением. При наличии двух отрицательных решений, статья отклоняется.</li>
                        <li><strong>Повторное рецензирование</strong> (срок не менее 30 рабочих дней). Проработанная с учетом замечаний рукопись направляется рецензентам для согласования исправленного варианта.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Правила редакции</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Редакция журнала следует этическим нормам в сохранении конфиденциальности личной и научной информации статьи до ее опубликования в открытой печати.
                            <br>Рецензии хранятся в издательстве и в Редакции издания в течение не менее 5 лет.
                            <br>Окончательное решение о возможности публикации принимается по итогам рецензирования на заседании Редколлегии журнала.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}