{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Политика конфиденциальности - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Политика конфиденциальности</h4>
        <p>
             в научном журнале
        </p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block grid-pp">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Общие положения</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>1.</strong> Защита персональных данных участников публикационного процесса является одной из приоритетных задач при обработке материалов в журнале Известия вузов «Геодезия и аэрофотосъемка». Рецензирование материалов статей осуществляется с должным уважением к конфиденциальности авторов.</li>
                        <li><strong>2.</strong> Под конфиденциальной информацией редакция понимает личные данные, предоставляемые авторами журналу в Авторском договоре, что используется исключительно для контактов с авторами в процессе подготовки статьи к публикации и для правовых вопросов. Редколлегия и редакция журнала обязуются не передавать данную информацию третьим лицам, которые могут использовать ее в иных целях.</li>
                        <li><strong>3.</strong> Редакция несет ответственность перед авторами и рецензентами за сохранность предоставленной информации о научных статьях до их размещения в журнале (включая их получение, содержание, статус в процессе рецензирования, критику рецензентов и окончательное решение), в том числе это касается запросов на использование материалов для разрешения правовых вопросов.</li>
                        <li><strong>4.</strong> Редакция не публикует комментарии рецензента вместе с материалами статьи без согласия авторов и рецензентов. Однако комментарии рецензента должны направляться другим лицам той же редакции, рецензирующим данную научную статью, что может способствовать более детальному обоснованию позиции в процессе рецензирования.</li>
                        <li><strong>5.</strong> Рецензенты не вправе копировать рукописи и передавать их третьим лицам, за исключением случаев, когда это разрешено редактором. Комментарии рецензента не должны публиковаться или предаваться огласке (как устно, так и письменно) без согласия самого рецензента, автора и редактора.</li>
                        <li><strong>6.</strong> Рецензенты анонимны для авторов. Авторы получают рецензию без подписи выполнившего её эксперта, личность рецензента не раскрываться автору или иным лицам.</li>
                        <li><strong>7.</strong> Публикация указанных сведений (имени, аффилиации, адреса электронной почты) осуществляется в интересах авторов с целью полного и корректного учета публикаций и их цитирования соответствующими библиографическими базами данных и обеспечения возможности контактов авторов с научским сообществом.</li>
                        <li><a href="">Согласие на обработку персональных данных</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}