{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Рубрики и периодичность - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Рубрики и периодичность</h4>
        <p>научного журнала</p>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>Рубрики (по номенклатуре научных специальностей ВАК)</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>1.6.15  Землеустройство, кадастр и мониторинг земель</strong></li>
                        <br>
                        <li><strong>1.6.19  Аэрокосмические исследования Земли, фотограмметрия</strong></li>
                        <br>
                        <li><strong>1.6.20  Геоинформатика, картография</strong></li>
                        <br>
                        <li><strong>1.6.22  Геодезия</strong></li>
                        <br>
                        <li><strong>2.2.6   Оптические и оптико-электронные приборы и комплексы</strong></li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>Периодичность</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>6 выпусков в год</strong></li>
                        <li><strong><p>февраль .  апрель .  июнь .  август .  октябрь .  декабрь</p></strong></li>
                        <li>По устоявшейся традиции издание каждого следующего выпуска выходит 25 числа каждого указанного месяца. По решению редколлегии и редсовета журнала в Том может быть добавлен СПЕЦИАЛЬНЫЙ ВЫПУСК, как уже было в предыдущие годы. Спецвыпуски (дополнительные выпуски) также располагаются на сайте журнала в архиве.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}