{% extends 'journal/base.html' %}
{% load static %}

{% block title %}Оформление статьи - Известия вузов. Геодезия и аэрофотосъемка{% endblock %}

{% block content %}
<section class="section-name-page">
    <div class="section-content">
        <h4>Оформление статьи</h4>
        <p>правила научного журнала</p>
    </div>
</section>

<section class="text-section">
    <div class="section-content">
        <ul>
            <li><strong>Рекомендуемый объем научной статьи:</strong></li>
            <li>– от 7 до 10 страниц, без учета списка литературы, таблиц, схем и рисунков.</li>
            <li>Если Ваша статья больше, рекомендуется разбить ее на несколько статей с индивидуальной научной значимостью.</li>
            <li>– статью нужно оформить по <a href="https://miigaik.ru/journal/gia/Template_GiA_.docx">Шаблону</a>, учитывая указанные в нем параметры форматирования (шрифты, кегль, отступы, табличная система ввода метаданных и библиографии)</li>
        </ul>

        <ul>
            <li><strong>Обязательные метаданные статьи:</strong></li>
            <li>УДК</li>
            <li>Название статьи</li>
            <li>Имена авторов</li>
            <li>Аффилиации авторов (допускается до 3х аффилированных организаций на одного автора)</li>
            <li>Адрес электронной почты для корреспонденции</li>
            <li>Библиография</li>
        </ul>

        <ul>
            <li><strong>Структура научной статьи:</strong></li>
            <li>Журнал строго придерживается структуры IMRAD.</li>
            <li>Основные главы статьи:</li>
        </ul>

        <ul>
            <li>1 Введение</li>
            <li>2 Материалы и методы</li>
            <li>3 Результаты</li>
            <li>4 Обсуждения результатов</li>
            <li>5 Выводы</li>
        </ul>

        <p>
            <a href="https://miigaik.ru/journal/Graphics.pdf">Инструкция по оформлению графики и формул</a>
        </p>

        <p>
            <strong>В главах «Введение» и «Выводы» не предусмотрено деление контента на разделы и подразделы.</strong>
        </p>
    </div>
</section>

<section class="subname-section">
    <div class="section-content">
        <h5>Состав статьи : метаданные</h5>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>УДК</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Каждая статья имеет свой набор тематик, выбранных по классификациям научных направлений. В начале статьи размещается выбранные коды. Основные разделы УДК выделены по 
                        <a href="">ГОСТ Р 7.0.90-2016 СИБИД</a>. Универсальная десятичная классификация. Структура, правила ведения индексирования</li>
                        <br>
                        <li>При загрузке выпусков научного журнала в НЭБ eLIBRARY требуется ряд кодов тематических рубрик по классификациям (в рамках рубрик научного журнала):</li>
                        <li>УДК, ГРНТИ, OECD, Специальность ВАК</li>
                        <br>
                        <li><a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=1&name=91506173002&f=7892">УДК</a></li>
                        <li><a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=1&name=91506173002&f=7892">UDC</a></li>
                        <li><a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=1&name=91506173002&f=7892">ГРНТИ</a></li>
                        <li><a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=1&name=91506173002&f=7892">OECD</a></li>
                        <li><a href="https://vak.minobrnauki.gov.ru/uploader/loader?type=1&name=91506173002&f=7892">Специальность ВАК</a></li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>ЗАГОЛОВОК</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>— для лаконичности описания заглавия нужно использовать основные ключевые понятия (слова) темы публикации</li>
                        <li>— ограничить название 13-15 словами (включая союзы)</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>СВЕДЕНИЯ ОБ АВТОРАХ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Имена (инициалы и фамилия), аффилиация (допускается до трех организаций на одного автора), город, страна.</strong></li>
                        <br>
                        <li>- Аффилиации указываются согласно формулировкам в базах данных цитирования. После названия организации указывается город и страна.</li>
                        <br>
                        <li>- E-mail (corresponding e-mail) - адрес электронной почты того автора, к которому будут обращаться заинтересованные в статье люди.</li>
                        <br>
                        <li><strong>- для русской версии статьи:</strong></li>
                        <li>И.И. Иванов</li>
                        <li>Московский государственный университет, Москва, Россия</li>
                        <li>* ivanov@mail.ru</li>
                        <br>
                        <li><strong>- для английской версии статьи:</strong></li>
                        <li>Ivan I. Ivanov</li>
                        <li>Moscow State University, Moscow, Russia</li>
                        <li>* ivanov@mail.ru</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>КЛЮЧЕВЫЕ СЛОВА</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Главные правила формирования списка ключевых слов:</strong></li>
                        <li>- следует использовать базовые термины вместо специализированных,</li>
                        <li>- следует избегать многосложных слов и тяжелых конструкций (не более 3 слов на 1 поисковую единицу),</li>
                        <li>- кавычки, апострофы, запятые не используют,</li>
                        <li>- ключевое слово обладает собственным значением, оно должно быть самодостаточно.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>АННОТАЦИЯ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Структура аннотации подразумевает краткое описание:</strong></li>
                        <li>- целей исследования,</li>
                        <li>- методов исследования,</li>
                        <li>- достигнутых результатов,</li>
                        <li>- краткие выводы с упором на ценность результатов и их практическое применение.</li>
                        <li><strong>Объем аннотации 150-200 слов</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subname-section">
    <div class="section-content">
        <h5>Состав статьи : структура</h5>
    </div>
</section>

<section class="list-section">
    <div class="section-content">
        <div class="list-block">
            <div class="list-content">
                <div class="list-content-top">
                    <h5>1 ВВЕДЕНИЕ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>По Введению судят об актуальности исследования и статьи!</strong></li>
                        <li>- краткое описание цели изучения, темы исследования и сферы применения;</li>
                        <li>- обзор литературы, где требуется указать общие тенденции исследований в выбранной сфере, имеющиеся конфликты в теории, методологии, практике или выводах исследований, «белые пятна» в исследованиях или научных школах,</li>
                        <li>- перспектива развития темы;</li>
                        <li>- позиция автора;</li>
                        <li>- подтверждение актуальности исследования.</li>
                        <li>Для <strong>теоретических исследований</strong> рекомендуется описать методологию, которая применялась для получения результатов. Не общую теорию, а конкретные методы, применимые в статье.</li>
                        <li>Для <strong>экспериментальных исследований</strong> следует дать подробное описание эксперимента, методик и оборудования, объектов исследования, которые применялись.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>2 МАТЕРИАЛЫ И МЕТОДЫ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Обычно эта часть работы не вызывает проблем у авторов, которые провели качественное исследование.</li>
                        <li>Представьте отчет исследования, опишите методы его исполнения, используемые приборы, с помощью которых вы изучали объект, предоставьте объем данных, статистические и математические процедуры, используемые для анализа и обобщения данных.</li>
                        <li>Важно, чтобы данные в Вашем исследовании были валидными, а методы были верно представлены. Все это необходимо для того, чтобы рецензенты, а после публикации — другие ученые могли воспроизвести ваше исследование.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>3 РЕЗУЛЬТАТЫ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Так же, как и во Введении, следует избегать использования общих фраз;</li>
                        <li>Результаты должны соответствовать заявленным целям и задачам статьи;</li>
                        <li>Необходимо четко описать вывод, идею, концепцию или метод, к которым пришел автор в результате исследования.</li>
                        <li><strong>Важно!</strong> Следует свести к минимуму использование источников, сосредоточьтесь на своих собственных наблюдениях и результатах.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>4 ОБСУЖДЕНИЕ РЕЗУЛЬТАТОВ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li><strong>Что должно быть написано в разделе «Обсуждение результатов»:</strong></li>
                        <li>- С какими фактами (методиками) автор соглашается, а с какими – нет; при этом несогласие необходимо подтвердить выводами по своей методике, сравнить факты (методики) между собой, снабдить описанием одинакового, схожего, различного;</li>
                        <li>- С какими ограничениями столкнулось или могло столкнуться исследование или целая научная сфера;</li>
                        <li>- Каковы перспективы развития исследований по этой теме;</li>
                        <li>- Сравнение различных методов (при необходимости);</li>
                        <li>- Сравнение результатов исследования с аналогичными исследованиями.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>5 ВЫВОДЫ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Основная задача выводов – систематизация.</li>
                        <li>Здесь указывается практическая и научная ценность исследования, возможные сферы применения.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>БЛАГОДАРНОСТИ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Этот короткий раздел предназначен для того, чтобы поблагодарить учреждения и/или отдельные лица, которые значительно помогли при проведении исследования, о котором говорится в статье. Чаще всего это может быть субсидирующая организация, которая выделила денежные средства, лаборатория, которая предоставила материалы, или, в частности, лицо или лица, которые давали советы авторам или помогали в сборе или анализе данных, или помогали любым другим способом. Здесь же указывают информацию по грантам РНФ и др.</li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>БИБЛИОГРАФИЯ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>Нумерация всей использованной литературы сплошная от первого до последнего источника.</li>
                        <li>Новую запись в списке набирают с новой строки.</li>
                        <li>Оформление списка использованной литературы рекомендуется выполнять в последовательности цитирования в статье.</li>
                        <li>Описание источников русской версии статьи выполняется в соответствии с библиографическими правилами Национального стандарта РФ ГОСТ Р 7.0.5-2008.</li>
                        <li>Источники в английской версии списка литературы следует составлять в формате Vancouver ("Imperial College Vancouver" style).</li>
                        <li>Используемый стиль транслитерации BSI - от англ. British Standards Institution, с которым можно воспользоваться на сайте translit.ru.</li>
                        <li>Перед тем, как транслитерировать имена авторов в списке литературы, нужно уточнить, как они указаны в авторских профилях в Scopus, Web of Science, ResearcherID, ORCID.</li>
                        <li>Приемлемое количество процитированных источников, индексируемых в базах данных, не менее 10 ссылок.</li>
                    </ul><br>
                    <ul>
                        <li><strong>В научных статьях не ссылаются на следующие источники:</strong></li>
                        <li>видео-публикации YouTube канала;</li>
                        <li>публикации в ЖЖ (Live Journal), публикации в социальных сетях;</li>
                        <li>анонимные источники (без авторов), а также малодоступная литература и литература незначительного объема (до 3х страниц);</li>
                        <li>тезисы докладов конференций;</li>
                        <li>учебники, учебные пособия, учебно-методические пособия;</li>
                        <li>нормативные и законодательные акты (постановления, законы, инструкции и т.д.);</li>
                        <li>словари; энциклопедии; справочники;</li>
                        <li>авторефераты диссертаций;</li>
                        <li>доклады, отчеты, записки, рапорты, протоколы, данные статистики.</li>
                    </ul><br>
                    <ul>
                        <li><strong>На такие источники ссылаются в сносках на соответствующей странице статьи.</strong></li>
                        <li><strong>Примеры оформления Библиографии и Сносок <a href="http://journalgeo.ru/references">по ссылке.</a></strong></li>
                    </ul>
                </div>
            </div>

            <div class="list-content">
                <div class="list-content-top">
                    <h5>ИНФОРМАЦИЯ ОБ АВТОРАХ</h5>
                </div>
                <div class="list-content-bottom">
                    <ul>
                        <li>В каждой научной статье обязательно указываются данные об авторе:</li>
                        <li><strong>имена всех авторов полностью,</strong></li>
                        <li><strong>должность,</strong></li>
                        <li><strong>ученая степень,</strong></li>
                        <li><strong>ученое звание,</strong></li>
                        <li><strong>Author ID (Science Index РИНЦ),</strong></li>
                        <li><strong>SPIN-код (Science Index РИНЦ),</strong></li>
                        <li><strong>Scopus ID,</strong></li>
                        <li><strong>Researcher ID,</strong></li>
                        <li><strong>ORCID.</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}